<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    {{>materializeCSS}}
</head>

<body>
    {{>header}}
    <main class="center-align">
        <h3 class="flow-text">{{error}}</h3>
    </main>
    {{>footer}}
</body>
{{>materializeJS}}

</html>