<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    {{>materializeCSS}}
</head>

<body>
    {{>header}}
    <h1>{{title}}</h1>
    <img src="/img/car.jpg">
    <p>Created by {{name}}</p>
    {{>footer}}

</body>
{{>materializeJS}}

</html>