<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    {{>materializeCSS}}
</head>

<body>
    {{>header}}
    <main class="center-align">
        <h1>Help</h1>
        <p>{{helpText}}</p>
    </main>
    {{>footer}}

</body>
{{>materializeJS}}

</html>