<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    {{>materializeCSS}}
</head>

<body>
    {{>header}}
    <h1>Help</h1>
    <p>{{helpText}}</p>
    {{>footer}}

</body>
{{>materializeJS}}

</html>