<!DOCTYPE html>

<html>

<head>
    {{>materializeCSS}}

</head>

<body>
    {{>header}}
    <main class="center-align">
        <h1>{{title}}</h1>
        <form id="form">
            <div class="input-field inline">
                <input id="adress" type="text" class="validate">
                <label>Adress</label>
                <button class="btn waves-effect waves-light" type="submit">Search
                </button>
                <p id="msg1"></p>
                <p id="msg2"></p>
            </div>
        </form>
        <h6>Created by {{name}}</h6>
    </main>
    {{>footer}}
</body>
{{>materializeJS}}
<script src="/js/app.js"></script>

</html>