h1 {
  color: grey;
}

img {
  width: 250px;
}

#msg1 {
  font-size: large;
  text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.096),
    1px 2px 10px rgba(0, 0, 0, 0.247);
}
#msg2 {
  font-size: small;
  text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.096),
    1px 2px 10px rgba(0, 0, 0, 0.247);
}
